
    <!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8" />
            <title>Softkave | Assigned Task Notification</title>
            <style>
                
    .email-header {
        text-align: left;
    }

    .email-header h1 {
        font-size: 16px;
    }

    .email-body {
        margin-top: 32px;
        margin-bottom: 32px;
    }

    .email-content-center {
        max-width: 520px;
        padding-left: 16px;
        padding-right: 16px;
        margin: auto;
    }

    .email-footer {
        max-width: 520px;
        margin: auto
    }
    
            </style>
        </head>
        <body>
        
    <header class="email-header email-content-center">
        <h1>Softkave | Assigned Task Notification</h1>
        <hr>
    </header>
    
        <div class="email-body">
            <div class="email-content-center">
                <p>
                    You have been assigned a task in <b>Softkave</b> by <b>Ajayi Solomon</b>.
                </p>
                <p>
                    <b>Task:</b><br />
                    did you know the earth is flat? prove it's not!
                    <br /><br /><b>Description:</b><br />With all that the world could muster, all their strength and measure, the giant stood tall, unflinching. If not for God, if not for the Christians, ...
                </p>
                <p>
                    To view the assigned task,
                    <a href="https://www.softkave.com/login">Login to your account here</a>.
                </p>
                <p>
                Have a nice day!
                </p>
            </div>
        </div>
        
    <footer class="email-footer">
        <hr>
        &copy; Softkave 2020
    </footer>
    
        </body>
    </html>
    