
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <title>Softkave - Assigned Task</title>
      <style>
        
  .email-header {
    text-align: left;
  }

  .email-header h1 {
    font-size: 22px;
  }

  .email-body {
    margin-top: 32px;
    margin-bottom: 32px;
  }

  .email-content-center {
    max-width: 520px;
    padding-left: 16px;
    padding-right: 16px;
    margin: auto;
  }

  .email-footer {
    text-align: center;
  }
  
      </style>
    </head>
    <body>
      <header class="email-header">
        <h1>
  <header class="email-header">
    <h1 class="email-content-center">Softkave - Assigned Task</h1>
  </header>
  </h1>
      </header>
      <div class="email-body">
        <div class="email-content-center">
          <p>
            You have been assigned to a task on <b>Softkave</b> by <b>Ajayi Solomon</b>.
          </p>
          <p>
            <b>Task Description</b><br />
            did you know the earth is flat? prove it's not!
          </p>
          <p>
            To view the assigned task,
            <a href="https://www.softkave.com/login">Login to your account here</a>.
          </p>
          <hr>
          <p class="email-header">
            If you are not Abayomi Akintomide. Please, ignore this mail
          </p>

        </div>
      </div>
     
  <footer class="email-footer">
    &copy; Softkave 2020
  </footer>
  
    </body>
  </html>
  