
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <title>Softkave | Collaboration Request</title>
        <style>
        
    .email-header {
        text-align: left;
    }

    .email-header h1 {
        font-size: 16px;
    }

    .email-body {
        margin-top: 32px;
        margin-bottom: 32px;
    }

    .email-content-center {
        max-width: 520px;
        padding-left: 16px;
        padding-right: 16px;
        margin: auto;
    }

    .email-footer {
        max-width: 520px;
        margin: auto
    }
    
        </style>
    </head>
    <body>
        
    <header class="email-header email-content-center">
        <h1>Softkave | Collaboration Request</h1>
        <hr>
    </header>
    
        <div class="email-body">
            <div class="email-content-center">
                <p>
                    You have a new collaboration request from
                    <b>Abayomi Isaac</b> of <b>Softkave</b>.
                </p>
                
                            <p>
                                <b>Message:</b><br />
                                How are you Isaac, we had a talk yesterday, this is our official offer.
                            </p>
                        
                <p>
                    <b>Expiration:</b><br />
                    <span>This request is set to expire in a month, on 12/03/2020 11:03AM.</span>
                </p>
                <p>
                    To respond to this request,
                    <a href="https://www.softkave.com/login">Login to your account here</a>
                </p>
                <p>
                Have a nice day!
                </p>
            </div>
        </div>
        
    <footer class="email-footer">
        <hr>
        &copy; Softkave 2020
    </footer>
    
    </body>

    </html>
    