
  <!DOCTYPE html>
  <html>

  <head>
    <meta charset="utf-8" />
    <title>Softkave - Change Your Password</title>
    <style>
      
  .email-header {
    text-align: left;
  }

  .email-body {
    margin-top: 48px;
    margin-bottom: 48px;
  }

  .email-content-center {
    max-width: 520px;
    padding-left: 16px;
    padding-right: 16px;
    margin: auto;
  }

  .email-footer {
    text-align: center;
  }
  
    </style>
  </head>

  <body>
    
  <header class="email-header">
    <h1 class="email-content-center">Softkave - Change Your Password</h1>
  </header>
  
    <div class="email-body">
      <div class="email-content-center">
        <p>
          To change your password,
          <a href="https://www.softkave.com/change-password?t=12345">Click here</a>
        </p>
        <p>- OR -</p>
        <p>
          Copy the following link, and visit in your browser :-<br />
          <a href="https://www.softkave.com/change-password?t=12345">https://www.softkave.com/change-password?t=12345</a>
        </p>
        <div>
          <strong>This link expires :-</strong>
          <ul>
            <li>Immediately after you change your password OR</li>
            <li>In 2 days, on 10/31/2019 05:56PM</li>
          </ul>
        </div>
        <p>
          If you did not request a change of password, please ignore this
          mail.<br />
          Also, do not share this link with anybody, as they will be able to
          change your password through it.
          <br /><br />
          Thank you, and have a nice day.
        </p>
      </div>
    </div>
    
  <footer class="email-footer">
    &copy; Softkave 2019
  </footer>
  
  </body>

  </html>
  